.align {
  display: grid;
  place-items: center;
}

.pagination {
  overflow: hidden;
  line-height: normal;
  text-align: center;
}

.pagination span {
  display: inline-block;
  background: #0c70de !important;
  padding: 8px 15px;
  margin: 2px;
  color: #DDD;
  border-radius: 3px;
}

.pagination a,
.pagination span {
  display: inline-block;
  padding: 8px 15px;
  margin: 2px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.pagination a {
  background: #16151d;
}

.pagination span {
  background-color: #0c70de;
}